@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Oswald:wght@200&family=Sometype+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
  font-family: "Bebas Neue", sans-serif;  
  letter-spacing: 3px;
}

input {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}